<div class="container-fluid mt-5">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-between">
                <h3 class="breadcrumb-item active" aria-current="page">Agregar nuevo productor</h3>
            </ol>
        </nav>
        <form class="form-cooperativo" #formproductor="ngForm" (ngSubmit)="onSaveproductor(formproductor)">
            <div class="form-group">
              <label for="exampleInputEmail1">Nombre</label>
              <input type="text" name="nombre" class="form-control" ngModel required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Apellido</label>
                <input type="text" name="apellido" class="form-control" ngModel required>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Direccion</label>
                <input type="text" name="direccion" class="form-control" ngModel required>
              </div>
            <div class="form-group">
                <label for="exampleInputEmail1">DNI</label>
                <input type="text" name="dni" class="form-control" ngModel required>
              </div>
              <div class="form-group">
                <label for="inputState">Cooperativa</label>
                <select id="inputState" class="form-control" >
                  <option *ngFor="let cooperativa of cooperativa" value="{{cooperativa.id}}" name="id_cooperativa" >{{cooperativa.nombre}}</option>
                </select>
              </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
            <button [routerLink]="['/productor']" type="submit" class="btn btn-secondary ml-3">Cancelar</button>
          </form>
    </div>
</div>