<div class="continer-fluid mt-5">
    <div class="container">
        <!--Agregando el boton de crear-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-between">
                <h3 class="breadcrumb-item active" aria-current="page">Lista de productores</h3>
                <button type="button" class="btn btn-outline-primary">AGREGAR</button>
            </ol>
        </nav>
        <!--END el boton de crear-->
        <!--AGREGANDO TABLA-->
        <div>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Accion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let productor of productores">
                    <th scope="row">1</th>
                    <td>{{ productor.nombre }} {{ productor.apellido }}</td>
                    <td>{{ productor.direccion }}</td>
                    <td>{{ productor.dni }}</td>
                    <td>@mdo</td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
        <!--END AGREGANDO TABLA-->
    </div>
</div>