<div class="container-fluid mt-5">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-between">
                <h3 class="breadcrumb-item active" aria-current="page">Agregar nueva cooperativa</h3>
            </ol>
        </nav>
        <form class="form-cooperativo" #formcooperativo="ngForm" (ngSubmit)="onSavecooperativa(formcooperativo)">
            <div class="form-group">
              <label for="exampleInputEmail1">Nombre</label>
              <input type="text" name="nombre" class="form-control" ngModel required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Fecha</label>
                <input type="text" name="fecha" class="form-control" ngModel required>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Productor lider</label>
                <select id="inputState" class="form-control" >
                  <option *ngFor="let productor of productores" value="{{productor.id}}" name="id_cooperativa" >{{productor.nombre}}</option>
                </select>
              </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
            <button [routerLink]="['/cooperativo']" type="submit" class="btn btn-secondary ml-3">Cancelar</button>
          </form>
    </div>
</div>