<div class="continer-fluid mt-5">
    <div class="container">
        <!--Agregando el boton de crear-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-between">
                <h3 class="breadcrumb-item active" aria-current="page">Lista de coperativas</h3>
                <button [routerLink]="['/cooperativo/add']" type="button" class="btn btn-outline-primary">AGREGAR</button>
            </ol>
        </nav>
        <!--END el boton de crear-->
        <!--AGREGANDO TABLA-->
        <div>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Productor lider</th>
                    <th scope="col">Accion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cooperativa of cooperativa">
                    <th scope="row"></th>
                    <td>{{cooperativa.nombre}}</td>
                    <td>{{ cooperativa.fecha }}</td>
                    <td>{{ cooperativa.id_pro_lider }}</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <!--END AGREGANDO TABLA-->
    </div>
</div>